git+https://github.com/rancher/client-python.git@e3762d5e63e7f9c6ef327e967b876c06dbf43949
websocket-client==0.53.0
PyJWT==1.6.4

flake8==3.5.0
pytest==3.8
pytest-repeat==0.7.0
pytest-xdist==1.23.0
pyyaml==3.13
netaddr==0.7.19
requests==2.20.0
kubernetes==7.0.0
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
cryptography>=42.0.2 # not directly required, pinned by Snyk to avoid a vulnerability
rsa>=4.7 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=1.26.18 # not directly required, pinned by Snyk to avoid a vulnerability
